@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap';
@import '@/theme/theme.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-size:14px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}

main {
  flex-grow: 1;
}

img,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ================== */
/* NextJS */
/* ================== */
html, body {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* ================== */
/* Propostas Vertá */
/* ================== */
.container,
.containerXl {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $bp-lg;
  padding: 0 2rem;
  margin: 0 auto;

  @media (min-width:$bp-lg){
    padding: 0;
  }
}

.containerXl {
  max-width: $bp-xl;

  @media (min-width:$bp-xl){
    padding: 0;
  }
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.MuiButtonGroup-grouped:has(> svg){
  min-width: 28px!important;
  padding: 0;
}

/*cor da seleção*/

::-moz-selection { /* Code for Firefox */
  background: #c49fff;
}

::selection {
  background: #c49fff;
}

/*Eliminar setas nos inputs tipo number*/
/*Chrome*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}