@import '@/theme/theme.scss';

$sobreposicao: 6rem;


.listHeader {
  background-color: $color-black;
  color: $color-primary;
  padding-bottom: $sobreposicao;
}

.listContainer {
  margin-top: -$sobreposicao;
}

@media (max-width: $bp-md) {
  .container {
    padding: 0;
  }

  .listContainer {
    overflow: auto;

    >ul {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

.listaPropostas {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;

  // :global(.stickyCol) {
  //   position: sticky;
  //   left: 0;
  // }
}

.propostaItem {
  background-color: #FFF;
  min-height: 5rem;
  border-bottom: 1px #e9e9e9 solid;
}

.nested {
  background-image: linear-gradient(0.25turn, #FAFAFA, #FFFFFF 25%);
}

.link {
  font-weight: 700;
  color: $color-primary;
}