@import '@/theme/theme.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stackRow {
  gap: 2rem;
  flex-direction: row;

  @media (max-width:$bp-sm) {
    flex-direction: column;
  }
}

.input {
  flex-basis: 50%;
}