.task {
  padding: .5rem 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: .5rem;
  min-width: 0;
  background-color: #FFF;

  .dragContainer {
    width: fit-content;

    .drag {
      cursor: grab;
    }
  }

  .inputsContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: .5rem;
    min-width: 0;

    .primary {
      flex-grow: 1;
      max-width: 100%;
    }

    .secondary {
      display: flex;
      gap: .5rem;
      width: fit-content;
      align-items: center;
      max-width: 100%;

      .actions {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }

  .actions,
  .drag {
    visibility: hidden;
  }

  &:hover {

    .actions,
    .drag {
      visibility: visible;
    }
  }

  @media (max-width:600px) {
    margin: .5rem 0;

    .actions,
    .drag {
      visibility: visible;
    }
  }
}

.task:not(.nested) {
  input {
    font-weight: bold;
  }
}

.nested {
  .inputsContainer {
    padding-left: 1rem;

    @media (max-width:600px) {
      flex-wrap: wrap;
      padding-left: 0;

      .primary,
      .secondary {
        flex-basis: 100%;
      }
    }
  }
}